    :root {
    	--colorPrimary: #00A4EF;
    	--maxWidth: 1440px;
    	--fontTitle: 22px;
    	--prodTitle: 14px;
    	--price: 18px;
    	--priceStrike: 10px:
    }

    /* ################ Common Styles ################*/
    h4 {
    	font-size: 20px;
    }

    h5 {
    	font-size: 20px;
    }

    h6 {
    	font-size: 13px;
    }

    strike {
    	font-size: smaller;
    }

    html,
    body {
    	height: 100%;
    	padding: 0px!important;
    	margin: 0px!important;
    	overflow-y: none;
    }

    body {
    	display: flex;
    	flex-direction: column;
    	justify-content: flex-start;
    	align-items: center;
    	align-content: stretch;
    }

    h2 {
    	font-size: 29px;
    }

    .prodTitle {
    	display: block;
    	text-overflow: ellipsis;
    	overflow: hidden;
    	/* max-height: 200px; */
    	text-align: left;
    	display: -webkit-box;
    	-webkit-line-clamp: 3;
    	-webkit-box-orient: vertical;
    }

    .price {}

    .ratingsBox {
    	padding-top: 13px;
    }

    .fa-star {
    	margin-bottom: 10px;
    	font-size: medium;
    }

    /* Code for other screen sizes */
    @media only screen and (max-width: 768px) {
    	h2 {
    		font-size: var(--fontTitle);
    	}

    	h4 {
    		font-size: var(--prodTitle);
    	}

    	h5 {
    		font-size: var(--price);
    	}

    	h6 {
    		font-size: small;
    		/* font-size: var(--priceStrike); */
    	}

    	.fa-star {
    		font-size: small;
    	}
    }

    /*################ Deals Of The Day ################*/
    #hourglassIcon {
    	font-size: x-large;
    }

    .dealOfTheDaySection {
    	font-family: 'Tenor Sans', sans-serif;
    	max-width: var(--maxWidth);
    	width: 100%;
    	flex-grow: 1;
    	margin-left: 15px;
    	margin-right: 15px;
    }

    /* h2 {
        text-align: left;
        padding: 0rem;
        font-size: 3.5rem;
        margin-bottom: 0rem;
    } */
    /* Slider */
    .slick-slide {
    	/* margin: 0px 10px; */
    }

    .slick-slide img {
    	width: 100%;
    }

    .slideH {
    	transition: transform 0.2s;
    	z-index: 1;
    }

    .slideH img {
    	width: 100%;
    	background-color: white;
    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    	margin-bottom: 0px;
    	border-top-left-radius: 5px;
    	border-top-right-radius: 5px;
    }

    .slideH:hover {
    	-ms-transform: scale(1.2);
    	/* IE 9 */
    	-webkit-transform: scale(1.2);
    	/* Safari 3-8 */
    	transform: scale(1.2);
    	z-index: 1;
    }

    .Title_container {
    	/* text-align: center; */
    	/* padding: 10px 20px; */
    }

    .priceTags {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	align-content: center;
    }

    p {
    	display: inline;
    	font-size: 30px;
    	margin-top: 0px;
    }

    .timer {
    	display: flex;
    	flex-wrap: wrap;
    	align-items: baseline;
    }

    .timer img {
    	width: 4%;
    	background-color: white;
    	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    	margin-bottom: 20px;
    	border-top-left-radius: 5px;
    	border-top-right-radius: 5px;
    }

    hr {
    	border-top: 3px solid brown;
    }

    .red {
    	color: red;
    	font-weight: bold;
    }

    .dotdbody {
    	max-width: var(--maxWidth);
    	/* margin-left: 15px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px; */
    }

    .DOTD {
    	color: black;
    	font-weight: bold;
    }

    .productDiv {
    	margin-bottom: 15px;
    	margin-left: 27px;
    }

    @media screen and (max-width:350px) {
    	.priceTags {
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		align-content: center;
    		flex-wrap: wrap;
    	}
    }

    /*################ Deals Of The Day END ################*/
    /*################ Trending Style ################*/
    .trendingTitle {
    	font-weight: bold;
    }

    .trendingSection {
    	font-family: 'Tenor Sans', sans-serif;
    	display: flex;
    	width: 100%;
    	max-width: var(--maxWidth);
    	flex-wrap: wrap;
    	justify-content: center;
    	padding-left: 15px;
    	padding-right: 15px;
    }

    .Tcontainer {
    	width: 91vw;
    	max-width: var(--maxWidth);
    	display: grid;
    	grid-template-columns: repeat(6, 1fr);
    	/* old */
    	/* grid-auto-rows: 100px 250px;
    grid-gap: 10px; */
    	/* new */
    	/* grid-auto-rows: 10% 20%; */
    	grid-gap: 1%;
    	grid-auto-flow: dense;
    }

    /* Hide scrollbar inside trending section for IE, Edge and Firefox */
    .scroll {
    	-ms-overflow-style: none;
    	/* IE and Edge */
    	scrollbar-width: none;
    	/* Firefox */
    }

    .scroll {
    	width: 100%;
    }

    .scroll::-webkit-scrollbar {
    	display: none;
    }

    .trendingBody {
    	width: 100%;
    	max-width: var(--maxWidth);
    	display: flex;
    	flex-direction: column;
    	align-content: center;
    	justify-content: center;
    	align-items: flex-start;
    }

    .grid-item {
    	width: 100%;
    	height: 100%;
    	position: relative;
    }

    .grid-item .image {
    	width: 100%;
    	height: 100%;
    	overflow: hidden;
    }

    .grid-item .image img {
    	width: 100%;
    	height: 100%;
    	object-fit: cover;
    	object-position: 50% 50%;
    	cursor: pointer;
    	transition: .5s ease-in-out;
    }

    .grid-item:hover .image img {
    	transform: scale(1.3);
    }

    .w-1 {
    	grid-column: span 2;
    }

    .w-2 {
    	grid-column: span 3;
    }

    .h-1 {
    	grid-row: span 2;
    }

    .h-2 {
    	grid-row: span 2;
    }

    @keyframes move-down {
    	0% {
    		top: 10%;
    	}

    	50% {
    		top: 35%;
    	}

    	100% {
    		top: 50%;
    	}
    }

    /* code for small screen */
    @media screen and (max-width:500px) {

    	/* .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .w-1,
    .w-2 {
        grid-column: span 1;
    } */
    	.proddivT {
    		margin: 5px;
    	}

    	.scroll {
    		width: 100%;
    		overflow-x: hidden;
    		overflow-y: scroll;
    	}
    }

    /*################ Trending Style END ################*/
    /*################ Best Value ################*/
    .bestValueSection {
    	font-family: 'Tenor Sans', sans-serif;
    	width: 100%;
    	max-width: var(--maxWidth);
    	padding-left: 15px;
    	padding-right: 15px;
    }

    .bestValueSection h2 {
    	font-weight: bold;
    }

    .Box {
    	/* margin-left: 100px;
    margin-right: 100px; */
    	/* margin-top: 50px; */
    	font-family: 'Tenor Sans', sans-serif;
    	display: flex;
    	width: 100%;
    	flex-wrap: wrap;
    	justify-content: center;
    }

    .Cards {
    	display: inline-block;
    	width: 235px;
    	padding: 12px;
    	background-color: white;
    	transition: transform 0.2s;
    	border-radius: 5px;
    	background-color: #00ffff00;
    }

    @media only screen and (max-width: 768px) {

    	/* For mobile phones: */
    	.Cards {
    		display: inline-block;
    		width: 43vw;
    		padding: 5px;
    		background-color: white;
    		transition: transform 0.2s;
    		border-radius: 5px;
    		background-color: #00ffff00;
    	}
    }

    .image img {
    	width: 100%;
    	background-color: white;
    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    	margin-bottom: 25px;
    	border-top-left-radius: 5px;
    	border-top-right-radius: 5px;
    }

    .Cards:hover {
    	-ms-transform: scale(1.2);
    	/* IE 9 */
    	-webkit-transform: scale(1.2);
    	/* Safari 3-8 */
    	transform: scale(1.2);
    }

    p.Details_container {
    	text-align: center;
    	padding: 10px 20px;
    	font-weight: normal;
    }

    .Title_containerBv {
    	text-align: center;
    	padding: 10px 20px;
    }

    .overlay {
    	display: block;
    	opacity: 0;
    	position: absolute;
    	top: 10%;
    	margin-left: 0;
    	width: 100px;
    }

    .image:hover .overlay {
    	opacity: 1;
    	margin-left: 5%;
    	transition: 0.5s;
    }

    .overlay .fa {
    	cursor: pointer;
    	background-color: white;
    	color: #000;
    	height: 100px;
    	width: 100px;
    	font-size: 100px;
    	padding: 7px;
    	margin: 5%;
    }

    .overlay .btn-secondary {
    	background: transparent !important;
    	border: none !important;
    	box-shadow: none !important;
    }

    /*################ Best Value END ################*/
    /*################ Top Picks ################*/
    .priceTagDiv {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    }

    .topPicsSection {
    	font-family: 'Tenor Sans', sans-serif;
    	margin-left: 15px;
    	margin-right: 15px;
    	font-family: 'Tenor Sans', sans-serif;
    	width: 100%;
    	max-width: var(--maxWidth);
    	padding-left: 15px;
    	padding-right: 15px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    }

    .image img {
    	align-items: center;
    	/* width: 90%; */
    	background-color: white;
    	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    	margin-bottom: 5px;
    	margin-top: 5px;
    	/* margin-left: 5px; */
    	/* margin-right: 50px; */
    	border-top-left-radius: 5px;
    	border-top-right-radius: 5px;
    }

    h4 {
    	/* text-align: center; */
    	/* padding-left: 10px; */
    }

    h5 {
    	text-align: center;
    	/* padding-left: 10px; */
    }

    .cards {
    	transition: transform 0.2s;
    	margin-bottom: 15px;
    	max-width: 300px;
    }

    .cards:hover {
    	-ms-transform: scale(1.2);
    	/* IE 9 */
    	-webkit-transform: scale(1.2);
    	/* Safari 3-8 */
    	transform: scale(1.2);
    }

    h1 {
    	color: brown;
    	/* font-family: 'Raleway', sans-serif; */
    }

    .one {
    	border-top: 3px solid brown;
    }

    .topPicsScroll::-webkit-scrollbar {
    	display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .topPicsScroll {
    	-ms-overflow-style: none;
    	/* IE and Edge */
    	scrollbar-width: none;
    	/* Firefox */
    }

    .header h2 {
    	font-weight: bold;
    }

    .topPicTable {
    	max-width: var(--maxWidth);
    	display: flex;
    	justify-content: center;
    	width: 100%;
    	overflow-y: scroll;
    }

    .proddiv {
    	/* margin-left: 10px; */
    	margin: 10px;
    }

    /* styles for small screens */
    @media only screen and (max-width: 768px) {
    	.cards {
    		margin-right: 15px;
    		margin-bottom: 15px;
    		max-width: 100px;
    	}

    	.image {
    		display: flex;
    		justify-content: center;
    	}

    	.image img {
    		height: 121px;
    		width: 121px;
    	}
    }

    /*################ Top Picks END ################*/
    /*################ Coming Soon ################*/
    .comingSoon img {
    	width: 100%;
    }

    /*################ Coming Soon END ################*/
    /*################ Footer ################*/
    footer a,
    a:hover {
    	color: white;
    }

    a,
    a:hover {
    	color: inherit;
    }

    /*################ Footer END ################*/